name: Publish Docker image (GHCR)

on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Docker repository (ex: owner/repo)'
        required: true
        default: 'myuser/myrepo'
      tag:
        description: 'Tag to push'
        required: true
        default: 'latest'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./TwitchDropsBot.Console
          file: ./TwitchDropsBot.Console/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ github.event.inputs.image }}:${{ github.event.inputs.tag }}
            ghcr.io/${{ github.event.inputs.image }}:latest
